Source: sonic-platform-vm-config
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>
Build-Depends: debhelper (>= 9), autotools-dev, dh-exec
Standards-Version: 3.9.3

Package: sonic-platform-vm-config
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Platform specific configuration files and packages
